<footer class="footer is-fixed-bottom">
  <!-- Indice-->
  <div class="container">
    <div class="columns">
      <!-- Início -->
      <div class="column">
        <h2 class="subtitle" (click)="scrool('apresentacao')">
          <a>Início</a>
        </h2>
        <p (click)="scrool('info')">
          <a>Informações</a>
        </p>
      </div>
      <!-- Sobre nós -->
      <div class="column">
        <h2 class="subtitle" (click)="scrool('sobre-nos')">
          <a>Sobre nós</a>
        </h2>
        <p>
          <a href="/nos">Saiba ainda mais sobre nós</a>
        </p>
      </div>
      <!-- Fale Conosco -->
      <div class="column">
        <h2 class="subtitle" (click)="scrool('fale-conosco')">
          <a>Fale conosco</a>
        </h2>
        <p (click)="scrool('formulario')">
          <a>Envie uma mensagem</a>
        </p>
        <p (click)="scrool('localizacao')">
          <a>Localização</a>
        </p>
        <p (click)="scrool('outras-formas-comunicacao')">
          <a>Outras formas de comunicação</a>
        </p>
      </div>
      <!-- Redes Sociais -->
      <div class="column">
        <h2 class="subtitle" (click)="scrool('redes-sociais')">
          <a>Redes sociais</a>
        </h2>
        <p (click)="scrool('redes-sociais')">
          <a href="https://facebook.com/abrindoportascp">Facebook</a>
        </p>
        <p (click)="scrool('redes-sociais')">
          <a href="">Instagram</a>
        </p>
        <p (click)="scrool('redes-sociais')">
          <a>Email</a>
        </p>
      </div>
    </div>
  </div>

  <div id="abrindo-portas" class="container">
    <div class="columns">
      <div class="column">
        <h3 class="title">
          <a class="not-active">Abrindo Portas</a>
        </h3>
      </div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column">
        <a href="https://facebook.com/abrindoportascp" target="_blank">
          <img class="logo" src="assets/imgs/facebook.png" alt="Facebook">
        </a>

        <a href="https://google.com" target="_blank">
          <img class="logo" src="assets/imgs/instagram.png" alt="Instagram">
        </a>

        <a href="https://m.me/abrindoportascp" target="_blank">
          <img class="logo" src="assets/imgs/messenger.png" alt="Messenger">
        </a>

        <a id=web href="/" target="_blank">
          <img class="logo" src="assets/imgs/web.png" alt="Website">
        </a>

        <a href="mailto:abrindoportascp@gmail.com" target="_top">
          <img class="logo" src="assets/imgs/email.png" alt="Email">
        </a>


      </div>
    </div>
  </div>
</footer>
