<div class="field">
  <label class="label" [htmlFor]="id">{{ this.label }}</label>
  <div [class.control]="isControl" [class.has-icons-left]="iconLeft" [class.has-icons-right]="iconRight">
    <input [id]="id" [name]="name" class="input {{color}} {{size}}" [type]="type" [placeholder]="placeholder"
           [required]="isRequired"
           [disabled]="isDisabled" [readOnly]="isReadOnly">
    <span class="icon is-small is-left">
      <i [class]="iconLeft"></i>
    </span>
    <span class="icon is-small is-right">
      <i [class]="iconRight"></i>
    </span>
  </div>
</div>
