<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item"
       routerLink="/"
       routerLinkActive="active">
      <img src="assets/imgs/escudo.png" alt="Abrindo Portas">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">

      <a class="navbar-item"
         routerLink="/"
         routerLinkActive="active"
      >
        Início
      </a>
      <a class="navbar-item"
         routerLink="/galeria"
         routerLinkActive="active"
      >
        Galeria de imagens
      </a>
      <a class="navbar-item"
         routerLink="/nos"
         routerLinkActive="active"
      >
        Sobre nós
      </a>
      <a class="navbar-item"
         routerLink="/contato"
         routerLinkActive="active"
      >
        Contato
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <div class="lingua">EN</div>
        </div>
      </div>
    </div>
  </div>
</nav>
