<div class="field" [formGroup]="form">
  <label class="label"
         [class.has-text-success]="formSubmitted && !formControl(name).errors"
         [class.has-text-danger]="formSubmitted && formControl(name).errors"
    [htmlFor]="id"
  >
    {{ label }}
    <small *ngIf="!isRequired" class="has-text-grey">(Opcional)</small>
  </label>
  <div [class.control]="isControl">
    <textarea [id]="id"
              [name]="name"
              class="textarea {{size}}"
              [class.is-success]="formSubmitted && !  formControl(name).errors"
              [class.is-danger]="formSubmitted && formControl(name).errors"
              [placeholder]="placeholder"
              [required]="isRequired"
              [readOnly]="isReadOnly"
              [formControlName]="name"
    ></textarea>
    <ng-content></ng-content>
  </div>
</div>
