<section id="members" class="section">
  <div class="container">
    <h1 class="title">Membros</h1>
    <p class="subtitle">Conheça cada um dos porteiros!</p>
  </div>

  <div class="container">
    <div class="columns is-multiline is-mobile is-centered">
      <app-member name="Felipe Seolin Bento"
                  mainPhoto="/assets/imgs/members/Alguem.jpg"
                  hoverPhoto="/assets/imgs/members/Alguem.jpg"
                  [sectors]="['Marketing', 'Coordenação', 'Instrutor', 'Material', 'Apostila']"></app-member>
    </div>
  </div>
</section>

