@import "../../../variables";

section {
  padding: 24px 0;
}

.image-right {
  background-color: $blue-abrindo-portas;
  -webkit-box-shadow: 12px 14px 0px 1px rgba(35, 20, 68, 0.85);
  -moz-box-shadow: 12px 14px 0px 1px rgba(35, 20, 68, 0.85);
  box-shadow: 12px 14px 0px 1px rgba(35, 20, 68, 0.85);
}

.image-left {
  background-color: $blue-abrindo-portas;
  -webkit-box-shadow: -12px -14px 0px 1px rgba(35, 20, 68, 0.85);
  -moz-box-shadow: -12px -14px 0px 1px rgba(35, 20, 68, 0.85);
  box-shadow: -12px -14px 0px 1px rgba(35, 20, 68, 0.85);
}

img {
  border-radius: 5%;
  max-height: 400px;
}
