<section id="class-title" class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        Turmas abertas
      </h1>
      <h2 class="subtitle">
        Faça a sua inscrição para as turmas deste semestre,
        mas não perca tempo, porque as vagas são limitadas!
      </h2>
      <a href="" class="button is-large is-link">
        Fazer minha inscrição
      </a>
    </div>
  </div>
</section>

<section class="container">
  <div class="columns is-vcentered">
    <div class="column">
      <h2 class="title is-3">O que esperar das aulas?</h2>
      <p class="has-text-justified text-indent">
        As aulas buscam sempre fazer com que o aprendizado ocorra de uma
        maneira diferente da tradicional, onde os alunos possuem papel fundamental
        e participam da aula o tempo inteiro. Além de utilizarmos de materias tradicionais
        como lousa e slides, também utilizamos de jogos, gincanas, dinâmicas e atividades,
        tudo para fixar o conhecimento e deixar o aprendizado mais fluído.
      </p>
    </div>
    <div class="column has-text-centered">
      <img src="/assets/imgs/classes/interaction.jpg" alt="Alunos interagindo" class="image-right">
    </div>
  </div>
</section>

<section class="container">
  <div class="columns is-vcentered">
    <div class="column has-text-centered">
      <img src="/assets/imgs/classes/utfpr.jpg" alt="UTFPR" class="image-left">
    </div>
    <div class="column">
      <h2 class="title is-3">Onde e em qual horário são as aulas?</h2>
      <p class="has-text-justified text-indent">
        As aulas são realizadas na
        <span class="has-text-weight-bold">
        Universidade Tecnológica Federal do Paraná (UTFPR),
        </span>
        câmpus Cornélio Procópio. Sendo realizadas normalmente no
        <span class="has-text-weight-bold">
        período noturno,
        </span>
        mas confirme antes quando realizar a
        matrícula.
      </p>
    </div>
  </div>
</section>

<section class="container">
  <div class="columns is-vcentered">
    <div class="column">
      <h2 class="title is-3">
        Quem são os professores?
      </h2>
      <p class="has-text-justified text-indent">
        Os professores, ou instrutores, são os próprios alunos
        da UTFPR, que possuem domínio na língua inglesa e também o desejo
        de fazer com que mais pessoas possam aprender e de forma gratuita,
        por isso todos os membros são voluntários.
      </p>
    </div>
    <div class="column has-text-centered">
      <img src="/assets/imgs/classes/board.jpg" alt="Professor desenhando no quadro" class="image-right">
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Benefícios
      </h1>
      <h2 class="subtitle">
        Veja quais são os benefícios de estudar com a gente
      </h2>
      <div class="content">
        <ul>
          <li>
            Aulas semanais 100% gratuitas
          </li>
          <li>
            Carga horária de aproximadamente duas
            horas semanais
          </li>
          <li>
            Cursos com duração de 6 meses, possuindo vários
            níveis para aperfeiçoar cada vez mais o seu inglês
          </li>
          <li>
            Atividades domiciliares e acompanhamento dos instrutores
          </li>
          <li>
            Mais de um professor por turma
          </li>
          <li>
            Equipe totalmente dedicada ao material físico e digital
            oferido aos alunos
          </li>
          <li>
            Método de ensino diferente, onde o aluno protagoniza
            diversos momentos, como modo de fixação e prática
            do conteúdo aprendido
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        FAQ
      </h1>
      <h2 class="subtitle">
        Perguntas e respostas mais frequentes
      </h2>
      <div class="content">
        <app-accordion number="01." header="Quando as aulas iniciam?">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta
          nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis
          efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor
          urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales
          sem.
        </app-accordion>
        <app-accordion number="02." header="Qual a duração do curso?">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta
          nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis
          efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor
          urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales
          sem.
        </app-accordion>
        <app-accordion number="03." header="Quem pode se inscrever?">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta
          nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis
          efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor
          urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales
          sem.
        </app-accordion>
        <app-accordion number="04." header="Há emissão de certificado?">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta
          nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis
          efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor
          urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales
          sem.
        </app-accordion>
        <app-accordion number="05." header="Devo possuir conhecimento prévio em inglês?">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta
          nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis
          efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor
          urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales
          sem.
        </app-accordion>
        <app-accordion number="06." header="Já fiz curso de inglês e/ou possuo certo domínio, preciso começar no nível iniciante?">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta
          nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis
          efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor
          urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales
          sem.
        </app-accordion>
      </div>
    </div>
  </div>
</section>
