<section id="galeria" class="is-dark">
  <div class='carousel carousel-animated carousel-animate-slide'>
    <div class='carousel-container'>
      <div class='carousel-item has-background is-active'>
        <img class="is-background" src="assets/imgs/equipe/1.jpg" alt="Imagem do Projeto"/>
        <!--<div class="title">Merry Christmas</div>-->
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/2.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/3.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/4.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/5.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/6.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/7.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/8.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/9.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/10.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/11.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/12.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/13.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/14.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/15.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/16.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/17.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/18.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/19.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/20.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/21.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/22.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/23.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/24.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/25.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/26.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/27.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/28.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/29.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/30.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/31.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/32.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/33.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/34.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/35.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/36.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/37.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/38.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/39.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/40.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/41.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/42.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/43.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/44.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/45.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/46.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/47.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/48.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/49.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/50.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/51.jpg" alt="Imagem do Projeto"/>
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="assets/imgs/equipe/52.jpg" alt="Imagem do Projeto"/>
      </div>
    </div>
    <div class="carousel-navigation is-overlay">
      <div class="carousel-nav-left">
        <i class="icon ion ion-ios-arrow-back" aria-hidden="true"></i>
      </div>
      <div class="carousel-nav-right">
        <i class="icon ion ion-ios-arrow-forward" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</section>
