@import '../../../variables';

.accordion {
  background-color: inherit;
  border: $light-blue solid 1px;
  margin: 8px 0;
  p {
    margin: 8px 0;
  }
}

.accordion-header {
  cursor: pointer;
  h4 {
    margin: 0;
  }
}
