<section id="class-title" class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        Processo Seletivo
      </h1>
      <h2 class="subtitle">
        Faça parte do time Abrindo Portas!
      </h2>
      <a href="" class="button is-large is-link">
        Fazer minha inscrição
      </a>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Setores
      </h1>
      <h2 class="subtitle">
        Veja aqui são os setores do projeto e quais você pode se inscrever
      </h2>
      <app-tab-group>
        <app-tab icon="ion ion-md-book" label="Apostila">
          <section class="hero">
            <div class="hero-body">
              <div class="container">
                <p class="has-text-justified">
                  Os porteiros que fazem parte do setor de apostila, são responsáveis por <b>criar</b> e
                  <b>atualizar</b> este material que é um dos mais importantes e concentra todo o conteúdo
                  necessário para o aluno e os instrutores utilizarem durante o semestre. Caso
                  você possua interesse em criar material didático deste tipo, edição e produção
                  gráfica e conhecimento em inglês, este é o setor certo para você.
                </p>
              </div>
            </div>
          </section>
        </app-tab>
        <app-tab icon="ion ion-md-chatbubbles" label="Coordenação">
          <section class="hero">
            <div class="hero-body">
              <div class="container">
                <p class="has-text-justified">
                  A coordenação é responsável por gerenciar todo o time, além de conduzir as reuniões, preparar
                  a equipe, conduzir formações e diversas outras funções.
                </p>
              </div>
            </div>
          </section>
        </app-tab>
        <app-tab icon="ion ion-md-clipboard" label="Intrutores">
          <section class="hero">
            <div class="hero-body">
              <div class="container">
                <p class="has-text-justified">
                  Os instrutores são os porteiros que acompanham os alunos diretamente, atuando como
                  professores nas turmas.
                </p>
              </div>
            </div>
          </section>
        </app-tab>
        <app-tab icon="ion ion-md-megaphone" label="Marketing">
          <section class="hero">
            <div class="hero-body">
              <div class="container">
                <p class="has-text-justified">
                  O marketing é responsável pela divulgação
                </p>
              </div>
            </div>
          </section>
        </app-tab>
        <app-tab icon="ion ion-md-create" label="Material">
          <section class="hero">
            <div class="hero-body">
              <div class="container">
                <p class="has-text-justified">
                  O material..
                </p>
              </div>
            </div>
          </section>
        </app-tab>
        <app-tab icon="ion ion-md-laptop" label="Material Digital">
          <section class="hero">
            <div class="hero-body">
              <div class="container">
                <p class="has-text-justified">
                  O material digital..
                </p>
              </div>
            </div>
          </section>
        </app-tab>
      </app-tab-group>
    </div>
  </div>
</section>

<section class="container">
  <div class="columns is-vcentered">
    <div class="column">
      <h2 class="title is-3">O que esperar do projeto?</h2>
      <p class="has-text-justified text-indent">
        As aulas buscam sempre fazer com que o aprendizado ocorra de uma
        maneira diferente da tradicional, onde os alunos possuem papel fundamental
        e participam da aula o tempo inteiro. Além de utilizarmos de materias tradicionais
        como lousa e slides, também utilizamos de jogos, gincanas, dinâmicas e atividades,
        tudo para fixar o conhecimento e deixar o aprendizado mais fluído.
      </p>
    </div>
    <div class="column has-text-centered">
      <img src="assets/imgs/classes/interaction.jpg" alt="Alunos interagindo" class="image-right">
    </div>
  </div>
</section>

<section class="container">
  <div class="columns is-vcentered">
    <div class="column has-text-centered">
      <img src="assets/imgs/classes/utfpr.jpg" alt="UTFPR" class="image-left">
    </div>
    <div class="column">
      <h2 class="title is-3">Onde e em qual horário são as aulas?</h2>
      <p class="has-text-justified text-indent">
        As aulas são realizadas na
        <span class="has-text-weight-bold">
        Universidade Tecnológica Federal do Paraná (UTFPR),
        </span>
        câmpus Cornélio Procópio. Sendo realizadas normalmente no
        <span class="has-text-weight-bold">
        período noturno,
        </span>
        mas confirme antes quando realizar a
        matrícula.
      </p>
    </div>
  </div>
</section>

<section class="container">
  <div class="columns is-vcentered">
    <div class="column">
      <h2 class="title is-3">
        Quem são os professores?
      </h2>
      <p class="has-text-justified text-indent">
        Os professores, ou instrutores, são os próprios alunos
        da UTFPR, que possuem domínio na língua inglesa e também o desejo
        de fazer com que mais pessoas possam aprender e de forma gratuita,
        por isso todos os membros são voluntários.
      </p>
    </div>
    <div class="column has-text-centered">
      <img src="assets/imgs/classes/board.jpg" alt="Professor desenhando no quadro" class="image-right">
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Benefícios
      </h1>
      <h2 class="subtitle">
        Veja quais são os benefícios de estudar com a gente
      </h2>
      <div class="content">
        <ul>
          <li>
            O aluno ganha horas complementares
          </li>
          <li>
            Praticar inglês e aprofundar conhecimentos
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        FAQ
      </h1>
      <h2 class="subtitle">
        Perguntas e respostas mais frequentes
      </h2>
      <div class="content">
        <app-accordion number="01." header="Quando as aulas iniciam?">
          As aulas normalmente iniciam um pouco após do início do ano letivo no calendário oficial da
          UTFPR, porém é necessário confirmar com a equipe a data correta.
        </app-accordion>
        <app-accordion number="02." header="Qual a duração do curso?">
          O curso tem duração semestral, ou seja, seis meses. Sendo que, há vários níveis e assim
          no próximo semestre os alunos possuem a possibilidade de continuar conosco.
        </app-accordion>
        <app-accordion number="03." header="Quem pode se inscrever?">
          Podem se inscrever nos cursos, alunos de ensino médio da rede pública (municipal, estadual ou federal), da
          cidade de Cornélio Procópio ou região. Outros casos estão submetidos a uma análise da equipe, sendo necessário
          a solicitação antes da inscrição.
        </app-accordion>
        <app-accordion number="04." header="Há emissão de certificado?">
          Infelizmente o curso ainda não possui emissão de certificado.
        </app-accordion>
        <app-accordion number="05." header="Devo possuir conhecimento prévio em inglês?">
          Não é necessário conhecimento prévio na lingua inglessa para fazer os cursos.
        </app-accordion>
        <app-accordion number="06."
                       header="Já fiz curso de inglês e/ou possuo certo domínio, preciso começar no nível iniciante?">
          Caso você possua é possível pular alguma etapa e se inscrever em alguma mais avançada que se
          adeque ao seu conhecimento. Porém, no decorrer do curso, caso os professores notem que o aluno
          não está acompanhando bem a turma, este terá que mudar de turma.
        </app-accordion>
      </div>
      <div class="has-text-centered">
        <p>
          Caso você possua alguma outra dúvida, é possível mandar uma mensagem
          <a href="/contact">aqui</a>
          ou em nossas redes sociais.
        </p>
      </div>
    </div>
  </div>
</section>
