section {
  padding: 24px 0;
}

.image-right {
  background-color: #00b89c;
  -webkit-box-shadow: 12px 14px 0px 1px rgba(0, 184, 156, 0.8);
  -moz-box-shadow: 12px 14px 0px 1px rgba(0, 184, 156, 0.8);
  box-shadow: 12px 14px 0px 1px rgba(0, 184, 156, 0.8);
}

.image-left {
  background-color: #00b89c;
  -webkit-box-shadow: -12px -14px 0px 1px rgba(0, 184, 156, 0.8);
  -moz-box-shadow: -12px -14px 0px 1px rgba(0, 184, 156, 0.8);
  box-shadow: -12px -14px 0px 1px rgba(0, 184, 156, 0.8);
}

img {
  border-radius: 5%;
  max-height: 400px;
}
