<section id="about" class="section">
  <div class="container">
    <h1 class="title">Sobre</h1>
    <p class="subtitle">Saiba um pouco mais sobre o projeto</p>
  </div>
</section>

<section id="what-is">
  <div class="container">
    <h2 class="title is-4">O que é o Abrindo Portas?</h2>
    <p class="has-text-justified text-indent">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ultrices turpis. Aliquam erat volutpat. Nunc molestie id magna vehicula laoreet. Mauris elementum nec nunc vitae vehicula. Donec venenatis risus eget ex eleifend ullamcorper. Etiam suscipit consequat fermentum. Duis volutpat ante est, quis cursus tortor placerat eget. Duis consectetur lacus non gravida elementum. Quisque hendrerit quam at leo vestibulum, sit amet lacinia turpis convallis. Vivamus porta imperdiet nisl, vitae ultricies purus ultricies eget. Curabitur porta nibh dolor, sit amet egestas magna vulputate ornare. Phasellus faucibus rhoncus ligula efficitur lacinia. Sed non aliquet quam, ac vehicula neque. Pellentesque ac ultricies lacus. Suspendisse convallis risus id justo tincidunt, in mattis velit pellentesque. Ut scelerisque sagittis nibh, at interdum quam gravida nec.
    </p>
  </div>
</section>

<section id="mission">
  <div class="container">
    <h2 class="title is-4">Qual é a nossa missão?</h2>
    <p class="has-text-justified text-indent">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ultrices turpis. Aliquam erat volutpat. Nunc molestie id magna vehicula laoreet. Mauris elementum nec nunc vitae vehicula. Donec venenatis risus eget ex eleifend ullamcorper. Etiam suscipit consequat fermentum. Duis volutpat ante est, quis cursus tortor placerat eget. Duis consectetur lacus non gravida elementum. Quisque hendrerit quam at leo vestibulum, sit amet lacinia turpis convallis. Vivamus porta imperdiet nisl, vitae ultricies purus ultricies eget. Curabitur porta nibh dolor, sit amet egestas magna vulputate ornare. Phasellus faucibus rhoncus ligula efficitur lacinia. Sed non aliquet quam, ac vehicula neque. Pellentesque ac ultricies lacus. Suspendisse convallis risus id justo tincidunt, in mattis velit pellentesque. Ut scelerisque sagittis nibh, at interdum quam gravida nec.
    </p>
  </div>
</section>

<section id="target">
  <div class="container">
    <h2 class="title is-4">A quem o projeto atende?</h2>
    <p class="has-text-justified text-indent">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ultrices turpis. Aliquam erat volutpat. Nunc molestie id magna vehicula laoreet. Mauris elementum nec nunc vitae vehicula. Donec venenatis risus eget ex eleifend ullamcorper. Etiam suscipit consequat fermentum. Duis volutpat ante est, quis cursus tortor placerat eget. Duis consectetur lacus non gravida elementum. Quisque hendrerit quam at leo vestibulum, sit amet lacinia turpis convallis. Vivamus porta imperdiet nisl, vitae ultricies purus ultricies eget. Curabitur porta nibh dolor, sit amet egestas magna vulputate ornare. Phasellus faucibus rhoncus ligula efficitur lacinia. Sed non aliquet quam, ac vehicula neque. Pellentesque ac ultricies lacus. Suspendisse convallis risus id justo tincidunt, in mattis velit pellentesque. Ut scelerisque sagittis nibh, at interdum quam gravida nec.
    </p>
  </div>
</section>
