<app-cabecalho></app-cabecalho>
<!-- Apresentação/Inicio -->
<section id="apresentacao" class="hero is-link is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Projeto Abrindo Portas
      </h1>
    </div>
  </div>
</section>
<!-- Informações -->
<section id="info" class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column">
          <span class="icon is-large">
          <span class="ion  ion-ios-school"></span>
            </span>
          <div>12 alunos</div>
        </div>
        <div class="column">
          <span class="ion ion-ios-person"></span>
          <div>14 professores</div>
        </div>
        <div class="column">
          <span class="ion ion-ios-people"></span>
          <div>12 membros</div>
        </div>
        <div class="column">
          <span class="ion ion-ios-rocket"></span>
          <div>Fazendo a diferença na comunidade</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Localização -->
<section id="localizacao" class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Localização
      </h1>
      <p>As aulas são ministradas diretamente na UTFPR.</p>
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</section>

<!---->
<section id="redes-sociais" class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Redes Sociais</h1>
      <h2 class="subtitle">Acompanhe-nos em nossas redes sociais</h2>
      <a href="https://facebook.com/abrindoportascp">
        <img class="logo" src="assets/imgs/facebook.png" alt="Facebook">
      </a>
      <a href="https://google.com">
        <img class="logo" src="assets/imgs/instagram.png" alt="Instagram">
      </a>
      <a href="">
        <img class="logo" src="assets/imgs/email.png" alt="Email">
      </a>
      <a href="https://">
        <img class="logo" src="assets/imgs/web.png" alt="Website">
      </a>
    </div>
  </div>
</section>

<app-rodape></app-rodape>
