<div #presentation id="presentation">
  <div id="close-container" title="Fechar" (click)="closePresentation()">
    <span class="ion ion-md-close"></span>
  </div>
  <div id="presentation-image">
    <div id="close-presentation" (click)="closePresentation()"></div>
    <div class="change-image full-height all-center" (click)="previusImage()">
      <span #iconPrevius id="iconPrevius" class="ion ion-ios-arrow-back icon-enabled" title="Imagem Anterior"
      ></span>
    </div>
    <img [src]="currentImg.src" [alt]="currentImg.alt">
    <div class="change-image full-height all-center" (click)="nextImage()">
      <span #iconNext id="iconNext" class="ion ion-ios-arrow-forward icon-enabled" title="Próxima Imagem"
      ></span>
    </div>
  </div>
</div>
