<!-- Apresentação/Inicio -->
<section id="apresentacao" class="hero is-link is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-7 bottom">
          <div class="columns">
            <div class="column is-6">
              <h1 id="titulo-inicio" class="title is-fixed-bottom">
                Abrindo Portas
              </h1>
              <p class="introducao has-text-weight-light">
                Somos um projeto de extensão criado por alunos da UTFPR que trabalham voluntariamente para
                incentivar estudantes do ensino médio a estudar e aprender a língua inglesa de forma diferenciada!
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <img src="assets/imgs/escudo.png" alt="Logo Abrindo Portas" style="transform: rotate(10deg)">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Informações -->
<section id="info" class="hero">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Alunos</p>
        <p id="students" class="title">100</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Professores</p>
        <p id="teachers" class="title">123</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Membros</p>
        <p id="members" class="title">456K</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Escolas</p>
        <p id="schools" class="title">6</p>
      </div>
    </div>
  </nav>
</section>

<!-- Sobre nós -->
<section id="sobre-nos" class="hero is-medium is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Sobre nós</h1>
      <!--<h2 class="subtitle">Acompanhe-nos em nossas redes sociais</h2>-->
      <div>
        <p>
          Somos um projeto de extensão criado por alunos da UTFPR que trabalham voluntariamente para
          incentivar estudantes do ensino médio a estudar e aprender a língua inglesa de forma diferenciada!
        </p>
      </div>
      <br>
      <!-- Botão -->
      <div class="buttons has-addons is-centered">
        <a href="/nos">
          <button class="button is-link is-outlined">Saiba ainda mais sobre nós</button>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Fale Conosco -->
<section id="fale-conosco" class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Fale conosco
      </h1>
      <h2 id="formulario" class="subtitle">Mande-nos uma mensagem</h2>
      <!-- Formulário -->
      <div class="columns">
        <div class="column is-6">
          <!-- Nome -->
          <div class="field">
            <label class="label">Nome *</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Monteiro Lobato"
                     [ngClass]="fieldNameInvalid ? 'is-danger' : ''" (blur)="fieldTouched('name')">
              <span class="icon is-small is-left">
                <i class="ion ion-ios-person"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="ion"
                   [ngClass]="fieldNameInvalid ? 'ion-ios-warning' : ''"></i>
              </span>
            </div>
            <p class="help is-danger" *ngIf="fieldNameInvalid">Nome inválido</p>
          </div>
          <!-- Email -->
          <div class="field">
            <label class="label">E-mail *</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="me@mail.com"
                     [ngClass]="fieldEmailInvalid ? 'is-danger' : ''" (blur)="fieldTouched('email')">
              <span class="icon is-small is-left">
                <i class="ion ion-ios-mail"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="ion" [ngClass]="fieldNameInvalid ? 'ion-ios-warning' : ''"></i>
              </span>
            </div>
            <p class="help is-danger" *ngIf="fieldEmailInvalid">This email is invalid</p>
          </div>
          <!-- Assunto -->
          <div class="field">
            <label class="label">Assunto *</label>
            <div class="control has-icons-right has-icons-left">
              <input class="input" type="text" placeholder="Matrículas"
                     [ngClass]="fieldSubjectInvalid ? 'is-danger' : ''" (blur)="fieldTouched('subject')">
              <span class="icon is-small is-left">
                <i class="ion ion-ios-at"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="ion" [ngClass]="fieldNameInvalid ? 'ion-ios-warning' : ''"></i>
              </span>
            </div>
            <p class="help is-danger" *ngIf="fieldSubjectInvalid">Nome inválido</p>
          </div>
          <!-- Mensagem -->
          <div class="field">
            <label class="label">Mensagem *</label>
            <div class="control">
              <textarea class="textarea" placeholder="Preciso de informações sobre a matrícula deste ano"
                        [ngClass]="fieldMessageInvalid ? 'is-danger' : ''" (blur)="fieldTouched('message')"></textarea>
            </div>
            <p class="help is-danger" *ngIf="fieldMessageInvalid">Mensagem inválida</p>
          </div>
          <p>* Atributo obrigatório</p>
          <!-- Botões -->
          <div class="field is-grouped is-grouped-right">
            <div class="control">
              <a class="button is-link">
                <span>Enviar</span>
                <span class="icon">
                  <i class="ion ion-ios-send"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- Localização -->
        <div class="column">
          <h2 id="localizacao" class="subtitle">Localização</h2>

          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe id="gmap_canvas"
                      src="https://maps.google.com/maps?q=UTFPR%20Corn%C3%A9lio%20Proc%C3%B3pio&t=&z=17&ie=UTF8&iwloc=&output=embed"
                      frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
              </iframe>
            </div>
          </div>
          <!-- Outras formas de comunicação -->
          <h2 id="outras-formas-comunicacao" class="subtitle">Você também pode trocar uma ideia por aqui</h2>
          <a href="" target="_blank">
            <img class="logo" src="assets/imgs/email.png" alt="Email">
          </a>
          <a href="https://m.me/abrindoportascp" target="_blank">
            <img class="logo" src="assets/imgs/messenger.png" alt="Messenger">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Redes Sociais -->
<section id="redes-sociais" class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Redes Sociais</h1>
      <h2 class="subtitle">Acompanhe-nos em nossas redes sociais e fique por dentro de todas as novidades do projeto!</h2>
      <a href="https://facebook.com/abrindoportascp" target="_blank">
        <img class="logo" src="assets/imgs/facebook.png" alt="Facebook">
      </a>

      <a href="https://google.com" target="_blank">
        <img class="logo" src="assets/imgs/instagram.png" alt="Instagram">
      </a>

      <a href="/" target="_blank">
        <img id="web" class="logo" src="assets/imgs/web.png" alt="Website">
      </a>
      <!--<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fabrindoportascp&width=600&colorscheme=light&show_faces=true&border_color&stream=true&header=true&height=435" scrolling="yes" style="border:none; overflow:hidden; width:600px; height:430px; background: white; float:left; " allowtransparency="true" frameborder="0"></iframe>-->
    </div>
  </div>
</section>
