@charset "utf-8";
@import './variables';

// Update Bulma's global variables
$primary: $blue-abrindo-portas;

/* IMPORTS */
@import "~bulma";
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma-extensions/bulma-carousel/src/sass";
@import "~bulma-extensions/bulma-timeline/src/sass";
$ionicons-font-path: "~ionicons/dist/fonts";
@import "~ionicons/dist/scss/ionicons.scss";

.errors {
  small {
    display: block;
  }
}
