<div class="column">
  <a href="https://facebook.com/abrindoportascp" target="_blank">
    <svg-icon src="assets/icons/facebook.svg" [svgStyle]="{'width.px': size, 'fill': color}"></svg-icon>
  </a>

  <a href="https://www.instagram.com/abrindoportascp" target="_blank">
    <svg-icon src="assets/icons/instagram.svg" [svgStyle]="{'width.px': size, 'fill': color}"></svg-icon>
  </a>

  <a href="https://m.me/abrindoportascp" target="_blank">
    <svg-icon src="assets/icons/messenger.svg" [svgStyle]="{'width.px': size, 'fill': color}"></svg-icon>
  </a>

  <a href="mailto:abrindoportascp@gmail.com" target="_top">
    <svg-icon src="assets/icons/email.svg" [svgStyle]="{'width.px': size, 'fill': color}"></svg-icon>
  </a>
</div>
