.logo {
  max-height: 32px;
  margin: 8px;
}

.introducao {
  text-align: justify;
  font-size: 20px;
}

#apresentacao {
  background-color: #1A1A41;
}

#localizacao {
  background-color: #f2f3f4;
}

#info {
  padding: 5vw;
}

#titulo-inicio {
  font-size: 45px;
}

.mapouter {
  text-align: right;
  width: 100%;
  height: 75%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}
