.logo {
  max-height: 32px;
  margin: 8px;
}

.introducao {
  text-align: justify;
  font-size: 20px;
}

#apresentacao {
  background-color: #1A1A41;
}

#localizacao {
  background-color: #f2f3f4;
}

#info {
  padding: 5vw;
}

#titulo-inicio {
  font-size: 45px;
}
