<!-- Apresentação/Inicio -->
<section id="apresentacao" class="hero is-link is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-7">
          <div class="columns">
            <div class="column is-6">
              <h1 id="titulo-inicio" class="title is-fixed-bottom">
                Abrindo Portas
              </h1>
              <p class="introducao has-text-weight-light">
                Somos um projeto de extensão criado por alunos da UTFPR que trabalham voluntariamente para
                incentivar estudantes do ensino médio a estudar e aprender a língua inglesa de forma diferenciada!
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <img src="assets/imgs/escudo.png" alt="Logo Abrindo Portas" style="transform: rotate(10deg)">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Informações -->
<section id="info" class="hero">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Alunos</p>
        <p class="title">3,456</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Professores</p>
        <p class="title">123</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Membros</p>
        <p class="title">456K</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Escolas</p>
        <p class="title">6</p>
      </div>
    </div>
  </nav>
</section>

<!-- Localização -->
<section id="localizacao" class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Fale conosco
      </h1>
      <h2 class="subtitle">Mande-nos uma mensagem</h2>
      <!--<agm-map [latitude]="lat" [longitude]="lng">-->
      <!--<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
      <!--</agm-map>-->
      <div class="columns">
        <div class="column is-7">
          <!-- Nome -->
          <div class="field">
            <label class="label">Name</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-danger" type="text" placeholder="Monteiro Lobato">
              <span class="icon is-small is-left">
            <i class="ion ion-ios-person"></i>
          </span>
              <span class="icon is-small is-right">
            <i class="ion ion-ios-warning"></i>
          </span>
            </div>
            <p class="help is-danger">Nome inválido</p>
          </div>
          <!-- Email -->
          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-danger" type="email" placeholder="me@mail.com">
              <span class="icon is-small is-left">
            <i class="ion ion-ios-mail"></i>
          </span>
              <span class="icon is-small is-right">
            <i class="ion ion-ios-warning"></i>
          </span>
            </div>
            <p class="help is-danger">This email is invalid</p>
          </div>
          <!-- Assunto -->
          <div class="field">
            <label class="label">Assunto</label>
            <div class="control has-icons-right">
              <input class="input is-danger" type="text" placeholder="Monteiro Lobato">
              <span class="icon is-small is-right">
            <i class="ion ion-ios-warning"></i>
          </span>
            </div>
            <p class="help is-danger">Nome inválido</p>
          </div>
          <!-- Mensagem -->
          <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <textarea class="textarea is-danger" placeholder="Digite sua mensagem aqui"></textarea>
            </div>
            <p class="help is-danger">Mensagem inválida</p>
          </div>
          <!-- Botões -->
          <div class="field is-grouped is-grouped-right">
            <div class="control">
              <button class="button is-success">Enviar</button>
            </div>
          </div>
        </div>
        <div class="column">
          <h2 class="subtitle">Localização</h2>
          <h2 class="subtitle">Você também pode trocar uma ideia por aqui</h2>
          <a href="" target="_blank">
            <img class="logo" src="assets/imgs/email.png" alt="Email">
          </a>
          <a href="https://m.me/abrindoportascp" target="_blank">
            <img class="logo" src="assets/imgs/messenger.png" alt="Messenger">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Redes Sociais -->
<section id="redes-sociais" class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Redes Sociais</h1>
      <h2 class="subtitle">Acompanhe-nos em nossas redes sociais</h2>
      <a href="https://facebook.com/abrindoportascp" target="_blank">
        <img class="logo" src="assets/imgs/facebook.png" alt="Facebook">
      </a>

      <a href="https://google.com" target="_blank">
        <img class="logo" src="assets/imgs/instagram.png" alt="Instagram">
      </a>

      <a href="/" target="_blank">
        <img class="logo" src="assets/imgs/web.png" alt="Website">
      </a>
    </div>


  </div>
</section>
