<!-- Apresentação/Inicio -->
<section id="apresentacao" class="hero is-link is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Projeto Abrindo Portas
      </h1>
      <p>
        Abrindo Portas é um projeto de extensão criado por alunos da UTFPR-CP que trabalham voluntariamente para
        incentivar estudantes do ensino médio a estudar e aprender a língua inglesa de forma diferenciada!
      </p>
    </div>
  </div>
</section>
<!-- Informações -->
<section id="info" class="hero">
    <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Alunos</p>
        <p class="title">3,456</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Professores</p>
        <p class="title">123</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Membros</p>
        <p class="title">456K</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Likes</p>
        <p class="title">Fazendo a Diferença</p>
      </div>
    </div>
  </nav>
</section>

<!-- Localização -->
<section id="localizacao" class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Localização
      </h1>
      <p>As aulas são ministradas diretamente na UTFPR.</p>
      <!--<agm-map [latitude]="lat" [longitude]="lng">-->
        <!--<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
      <!--</agm-map>-->
    </div>
  </div>
</section>

<!-- Redes Sociais -->
<section id="redes-sociais" class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Redes Sociais</h1>
      <h2 class="subtitle">Acompanhe-nos em nossas redes sociais</h2>
      <a href="https://facebook.com/abrindoportascp" target="_blank">
        <img class="logo" src="assets/imgs/facebook.png" alt="Facebook">
      </a>
      <a href="https://m.me/abrindoportascp" target="_blank">
        <img class="logo" src="assets/imgs/messenger.png" alt="Messenger">
      </a>
      <a href="https://google.com" target="_blank">
        <img class="logo" src="assets/imgs/instagram.png" alt="Instagram">
      </a>
      <a href="" target="_blank">
        <img class="logo" src="assets/imgs/email.png" alt="Email">
      </a>
      <a href="/" target="_blank">
        <img class="logo" src="assets/imgs/web.png" alt="Website">
      </a>
    </div>
  </div>
</section>
