<section id="sobre-nos">
  <div id="inicio" class="hero is-large is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          O Início do Projeto
        </h1>
        <p>
          O projeto Abrindo Portas iniciou em 2016, quando alguns alunos da Universidade Tecnológica Federal do Paraná,
          no câmpus Cornélio Prócopio, resolveram iniciar um projeto de cunho social para a comunidade externa.
        </p>
        <p>
          Assim juntamente com o DCE, Diretório Central do Estudantes, surgiu o projeto Abrindo Portas, com o intuito de
          ensinar a língua inglesa para estudantes de ensino médio da cidade, principalmente àqueles que estão na rede
          estadual ou municipal, pois muitas vezes não possuem a oportunidade de fazer um curso de inglês.
        </p>
        <p>
          Após um ano de trabalho em conjunto, o projeto passa a exercer de forma independente, seguindo por conta
          própria.
        </p>
        <p>
          Em toda a sua trajetória o Abrindo Portas já recebeu apoio de cerca de 20 professores da universidade e atendeu
          a alunos de seis escolas diferentes
        </p>
      </div>
    </div>
  </div>
  <div id="" class="hero is-large is-dark">
    <div class="hero-body">
      <h1 class="tile">

      </h1>
    </div>
  </div>
</section>
