<section id="sobre-nos">

  <div class="hero is-fullheight has-carousel">
    <div class="hero-carousel carousel-animated carousel-animate-fade" data-autoplay="true" data-delay="20000">
      <div class='carousel-container'>
        <div class='carousel-item has-background is-active'>
          <img class="is-background" src="assets/imgs/equipe/1.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/2.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/3.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/4.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/5.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/6.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/7.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/8.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/9.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/10.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/11.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/12.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/13.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/14.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/15.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/16.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/17.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/18.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/19.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/20.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/21.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/22.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/23.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/24.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/25.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/26.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/27.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/28.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/29.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/30.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/31.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/32.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/33.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/34.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/35.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/36.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/37.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/38.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/39.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/40.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/41.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/42.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/43.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/44.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/45.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/46.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/47.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/48.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/49.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/50.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/51.jpg" alt="Imagem do Projeto"/>
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" src="assets/imgs/equipe/52.jpg" alt="Imagem do Projeto"/>
        </div>
      </div>

      <div class="carousel-navigation is-overlay">
        <div class="carousel-nav-left" (click)="hideText()">
          <i class="icon ion ion-ios-arrow-back" aria-hidden="true"></i>
        </div>
        <div class="carousel-nav-right" (click)="hideText()">
          <i class="icon ion ion-ios-arrow-forward" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <!-- Sobre nós -->
    <div class="hero-body">
      <div class="container">
        <div class="has-text-centered">
          <h1 id="titulo-sobre-nos" class="title is-bordered" *ngIf="showText">
            Sobre Nós
          </h1>
        </div>
      </div>
    </div>
  </div>
  <!-- A nossa história -->
  <div id="nossa-historia" class="hero is-medium is-link">
    <div class="hero-body">
      <div class="container">
        <h1 class="titulo title has-text-centered">
          Nossa História
        </h1>
        <div class="has-text-justified">
          <p>
            O projeto Abrindo Portas iniciou em 2016, quando alguns alunos da Universidade Tecnológica Federal do
            Paraná,
            no câmpus Cornélio Prócopio, resolveram iniciar um projeto de cunho social para a comunidade externa.
          </p>
          <p>
            Assim, juntamente com o DCE, Diretório Central do Estudantes, surgiu o projeto Abrindo Portas, com o intuito
            de ensinar a língua inglesa para estudantes de ensino médio da cidade, principalmente àqueles que estão na
            rede
            estadual ou municipal.
          </p>
          <p>
            Após um ano de trabalho em conjunto, o projeto passa a exercer de forma independente, seguindo por conta
            própria com ajuda de professores da universidade, que já somam mais vinte professores da universidade.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="nossa-missao" class="hero is-medium is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="titulo title has-text-centered">
          Nossa Missão
        </h1>
        <div class="has-text-justified">
          <p>
            Abrindo Portas é um projeto de extensão criado por alunos da UTFPR-CP que trabalham voluntariamente para
            incentivar estudantes do ensino médio a estudar e aprender a língua inglesa de forma diferenciada!
          </p>
        </div>
      </div>
    </div>
  </div>

</section>
